<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>How's Biz</title>
    </head>
    <body style="font-family: 'Lato','Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;font-size: 15px;line-height: 1.42857143;">
        <div class="reporttitle" style="display: inline-block;margin-left: 5px;margin-right: 5px;">
            <h1 style="font-size: 4em;font-weight: bold;margin-top: 21px;margin-bottom: 10.5px;">Sommaire des How's Biz</h1>
            <div style="font-size: 22.5px;margin-bottom: 21px;font-weight: 300;line-height: 1.4;">{{week}}</div>
        </div>
        <p>
            Voici un résumé des How's Biz publiés pour la semaine dernière. Pour lire les descriptions complètes, commenter ou ajouter la mention "J'aime", connectez-vous sur le site <a href="https://howsbiz.jfdft.com">https://howsbiz.jfdft.com</a>.
        </p>
        <div class="container" style="clear: both;">
            <div class="section-full" style="width: 100%;float: left;">
                <div class="panel" style="margin-left: 5px;margin-right: 5px;margin-bottom: 21px;border: 1px solid #375a7f;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05);">
                    <div class="panel-heading" style="color: #ffffff;background-color: #375a7f;padding: 10px 15px;border-bottom: 1px solid #375a7f;border-top-right-radius: 3px;border-top-left-radius: 3px;">
                        <h3 class="panel-title" style="margin-top: 0;margin-bottom: 0;font-weight: 400;line-height: 1.1;color: inherit;">Ventes</h3>
                    </div>
                    <div class="panel-body" style="padding: 15px;">
                        <ul style="list-style: none;margin-left: 0;padding-left: 1em;text-indent: -1em;">
                            {{#sales}}
                            <li><span style="color: #375a7f; font-weight: bold;">{{store}}:</span> <span style="padding-left: 1em;text-indent: -1em;">{{&summary}}</span></li>
                            {{/sales}}
                        </ul>
                    </div>
                </div>
                <div class="panel" style="margin-left: 5px;margin-right: 5px;margin-bottom: 21px;border: 1px solid #00bc8c;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05);">
                    <div class="panel-heading" style="color: #ffffff;background-color: #00bc8c;padding: 10px 15px;border-bottom: 1px solid #00bc8c;border-top-right-radius: 3px;border-top-left-radius: 3px;">
                        <h3 class="panel-title" style="margin-top: 0;margin-bottom: 0;font-weight: 400;line-height: 1.1;color: inherit;">Services</h3>
                    </div>
                    <div class="panel-body" style="padding: 15px;">
                        <ul style="list-style: none;margin-left: 0;padding-left: 1em;text-indent: -1em;">
                            {{#serv}}
                            <li><span style="color: #00bc8c; font-weight: bold;">{{store}}:</span> <span style="padding-left: 1em;text-indent: -1em;">{{&summary}}</span></li>
                            {{/serv}}
                        </ul>
                    </div>
                </div>
                <div class="panel" style="margin-left: 5px;margin-right: 5px;margin-bottom: 21px;border: 1px solid #e74c3c;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05);">
                    <div class="panel-heading" style="color: #ffffff;background-color: #e74c3c;padding: 10px 15px;border-bottom: 1px solid #e74c3c;border-top-right-radius: 3px;border-top-left-radius: 3px;">
                        <h3 class="panel-title" style="margin-top: 0;margin-bottom: 0;font-weight: 400;line-height: 1.1;color: inherit;">Développement des affaires</h3>
                    </div>
                    <div class="panel-body" style="padding: 15px;">
                        <ul style="list-style: none;margin-left: 0;padding-left: 1em;text-indent: -1em;">
                            {{#dev}}
                            <li><span style="color: #e74c3c; font-weight: bold;">{{store}}:</span> <span style="padding-left: 1em;text-indent: -1em;">{{&summary}}</span></li>
                            {{/dev}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>